.info-notification-info{
    display: flex;
    background-color: #009FBD; 
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px; 
    padding: 10px; 
    padding-right: 0px;
}

.icon-container-noti-info {
  padding: 20px;
}
  
.icon-noti {
    font-size: 30px;
}

.message-container-info {
    flex-grow: 1;
}

.message-container-info h4 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
}

.message-container-info p {
    margin: 0;
}
.close-container-info {
    background-color: #038eaa; 
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white; 
    margin-right: 0px;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    height: 80px; 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
}





