.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 145px; /* Ajusta el margen izquierdo para que no se superponga con el sidebar */
  width: calc(100% - 180px); /* Ajusta el ancho tomando en cuenta el sidebar */
}

.home-content {
  flex-grow: 1;
  padding: 20px;
  height: 100vh;
  /* Agrega más estilos según lo necesites */
}
