.success-notification-success {
    display: flex;
    background-color: #4caf50; 
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px; 
}

.icon-container-noti-success{
    padding: 20px;
  }
  
  .icon-noti {
    font-size: 30px;
  }

.message-container-success {
    flex-grow: 1;
}

.close-container-success {
    background-color: #388e3c; 
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height:80px; 
    color: white; 
    margin-right: 0px;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
}
