.home-container-form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 145px;
  width: calc(100% - 180px);
}

.actions-container-form {
  display: flex;
  justify-content: flex-end;
  /* Alinea los elementos a la izquierda */
  gap: 1px;
  /* Añade espacio entre los elementos */
  flex-grow: 1;
  padding: 10px;
  width: 101%;
}

.contener-return {
  margin-top: 10px; /* Ajusta el valor según la distancia que quieras moverlo */
}
.main-content {
  display: flex;
  justify-content: space-between;
  /* Espacio entre los dos contenedores */
  align-items: flex-start;
  padding: 15px;
  width: 101%;
  height: 100vh;
}

.home-content-form {
  width: 43%;
  /* Ajusta el ancho del primer contenedor */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.additional-info-container {
  width: 50%;
  /* Ajusta el ancho del segundo contenedor */
  padding: 1px;
}

.status_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  padding: 0;
  z-index: 100;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s ease;
  background-color: #ffffff;
}
.status_button :hover {
  background-color: #00000038;
}
